.btn-cricle-sm{
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 6px 0 6px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: @cw-base-hover-bg;
}
.btn{
  padding: 6px 25px;
}
.btn-primary{
  background-color: @cw-base-hover-bg;
  border: 1px solid transparent;
}
.btn-primary:hover{
  background-color: #29c4c3;
  border: 1px solid transparent;
}