.sub-menu {
  display: none;
  position: relative;
  li {
    a{
      padding: 5px 20px;
      background-color: transparent;
    }
    //margin: 1px;
  }
}
.open{
  .sub-menu{
    display: block;
  }
}