//header-头部导航
.cw-navbar-defult {
  background-color: @cw-base-bg;
  color: @cw-base-hover;
  border: 0;
  .nav > li > a{
    color: @cw-base-hover;
  }
  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: @cw-base-hover-bg;
    color: #ffffff;
  }
  .navbar-right{
    margin-right:0;
  }
}